.section-1 {
    background: url(https://i.ytimg.com/vi/8hApaC4vzvc/maxresdefault.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-color: black;
}

.section-2 {
    background: url(http://2.bp.blogspot.com/-h6VI4CKhrok/VFwFfqfvaDI/AAAAAAAAFzE/bzDu56lqpI8/s1600/destiny_april23_05.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-color: #1E1E1E;
}

.section-landing {
    height: 100vh;
    background-color: #1E1E1E;
}

.d2-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 100%;
    opacity: 0;
}

#d2-logo {
    opacity: 0;
}

.console-images {
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.fa-pulse2 {
    display: inline-block;
    -moz-animation: pulse 2s infinite linear;
    -o-animation: pulse 2s infinite linear;
    -webkit-animation: pulse 2s infinite linear;
    animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.scroll {
    opacity: 0;
}

.scroll-icon {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0px 15px 0px #f5f5f5;
    font-size: 7em !important;
    margin-bottom: 5px !important;
}

.scroll-icon:hover {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0 0 15px #f5f5f5;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.emblemBackground {
    width: 100%;
}

.destiny-card {
    background-color: #ECEFF1;
    padding: 0px;
    position: relative;
}

.gamertag-title {
    position: absolute!important;
    top: 1rem!important;
    left: 6.5rem;
    color: white;
}

.destiny-card-content {
    padding: 10px;
    min-height: 480px;
}

.gear-icons-styling {
    width: 55%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 15px;
    border: 3px solid grey;
    padding: 0%;
    margin-bottom: 10%;
}

.classType {
    font-size: 30px;
    color: grey!important;
}

.datePlayed {}

.subclassImage {
    width: 50px!important;
    height: 50px!important;
    border: none!important;
    display: grid;
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.light-symbol {
    color: gold!important;
    font-size: 25px;
    margin-top: -25px;
}

.time-played {
    color: red!important;
    margin-top: -40px
}

.form-control-plaintext {
    width: 100%;
}

.card-body {
    background-color: #252526;
}

.shape-section {
    margin-top: 30px;
    padding: 40px 0;
}

.diamond-shape {
    background: transparent;
    height: 175px;
    text-align: center;
    transform: rotate(45deg);
    width: 175px;
    border: 2px solid #5FD2D3;
}

.item-count {
    color: #5FD2D3;
    display: table-cell;
    height: 175px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: 175px;
    font-size: 30px;
}

.diamond-shape:hover {
    background-color: #5FD2D3;
    border: 2px solid white;
}

.item-count:hover {
    color: white;
}

.diamond-shape2 {
    background-color: rgba(30, 30, 30, 0.8);
    height: 175px;
    text-align: center;
    transform: rotate(45deg);
    width: 175px;
    border: 2px solid white;
}

.item-count2 {
    color: white;
    display: table-cell;
    height: 175px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: 175px;
    font-size: 30px;
}

.diamond-shape2:hover {
    background-color: transparent;
    border: 2px solid #5FD2D3;
}

.item-count2:hover {
    color: #5FD2D3;
}

a {
    text-decoration: none!important;
}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#searchBanner,
.platforms,
#gamertagSearch,
.destiny-card {
    opacity: 0;
}

#searchBanner {
    background-color: rgba(30, 30, 30, 0.8);
}

.form-control-plaintext {
    border: 1px solid #5FD2D3;
    color: white!important;
    padding-left: 3%;
}

.btn-secondary {
    color: #fff;
    background-color: #5FD2D3;
    border-color: #868e96;
}

.pulse {
    -moz-animation: pulse 2s infinite linear;
    -o-animation: pulse 2s infinite linear;
    -webkit-animation: pulse 2s infinite linear;
    animation: pulse 2s infinite linear;
}

 ::-webkit-input-placeholder {
    color: white;
}

#button-text {
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #5FD2D3;
   
}

a {
    color: #5FD2D3;
}

a:hover{
    color: white;
}