.post-section {
    background: url(https://images2.alphacoders.com/847/thumb-1920-847443.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-color: black;
}

.post-card {
    padding: 10px;
}

form {
    background-color: rgba(30, 30, 30, 0.8);
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
    color: white;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: .25rem;
}

.row {
    width: 100%;
}


/* .lfg-row {
    border-bottom: 1px solid white;
} */

.fa-pulse2 {
    display: inline-block;
    -moz-animation: pulse 2s infinite linear;
    -o-animation: pulse 2s infinite linear;
    -webkit-animation: pulse 2s infinite linear;
    animation: pulse 2s infinite linear;
}

.fa-plus-square {
    color: #5FD2D3;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.scroll {
    opacity: 0;
}


/* .scroll-icon {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0px 15px 0px #f5f5f5;
    font-size: 7em !important;
    margin-bottom: 5px !important;
} */

.scroll-icon:hover {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0 0 15px #f5f5f5;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.card {
    display: none;
}

.btn-primary {
    background-color: #5FD2D3;
    border: 1px solid white;
}

.btn-primary:hover {
    color: #5FD2D3;
    background-color: white;
    border: 1px solid #5FD2D3;
}

.card {
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    border: 1px solid white;
    min-height: 300px;
    max-height: 300px;
}

#userMessage {
    color: #5FD2D3!important;
    padding: 2%;
}

.gamertag-title {}

#lfgBanner {
    background-color: rgba(30, 30, 30, 0.8);
    margin: 0;
    opacity: 0;
}

.card-img-top {
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    height: 25%;
    width: 100%;
}

.card-title{
    margin-top: 1rem;
}
.char-class{
    margin-bottom: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

i {
    font-size: 20px;
}

.landing-page{
    height: 100vh;
}

#video_box {
    float:left;
    position: fixed;
    top: 65%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}



#video_overlays {
position:absolute;
/* float:left; */
    width:100%;
    min-height:50%;
    margin-top: 20%;
    background-color: transparent;
    z-index:33;
}

#video_overlays h1{
    font-size: 88px;
    color: white;
}


.scroll-icon3 {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0px 15px 0px #f5f5f5;
    font-size: 7em !important;
    margin-bottom: 5px !important;
}

.scroll-icon3:hover {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0 0 15px #f5f5f5;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

